In [28]:
# Since all the continues features are bounded in certain range, we use the MinMaxScaler for the features to
# be proprocessed. For the categorical features, one-hot encoder is employed since they are unordered.
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import sklearn
# print(sklearn.__version__, pd.__version__)

('0.20.4', u'0.24.2')

In [29]:
df = pd.read_csv("../raw/ENB2012_data.csv")
df.head()
# df.X7

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [32]:
cc

# one-hot encoder
ohe = OneHotEncoder(sparse=False)
cat_values = ohe.fit_transform(df[cat_ftrs])
cat_ftr_names = ohe.get_feature_names()
df_cat = pd.DataFrame(data=cat_values,columns = cat_ftr_names)

# minmax scaler
minmax = MinMaxScaler()
num_values = minmax.fit_transform(df[num_ftrs])
df_num = pd.DataFrame(data=num_values,columns = num_ftrs) 

# label encoder
target_values = minmax.fit_transform(df[target_ftrs])
df_target = pd.DataFrame(data=target_values, columns=target_ftrs)

# concatenation of all features
df_preprocessed = pd.concat([df_cat, df_num, df_target], axis=1)
df_preprocessed.to_csv("regression.csv")
df_preprocessed.head()

,x0_2.0,x0_3.0,x0_4.0,x0_5.0,x1_0.0,x1_1.0,x1_2.0,x1_3.0,x1_4.0,x1_5.0,X1,X2,X3,X4,X5,X7,Y1,Y2
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.285714,0.000000,1.0,0.0,0.257212,0.280905
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.285714,0.000000,1.0,0.0,0.257212,0.280905
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.285714,0.000000,1.0,0.0,0.257212,0.280905
3,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.285714,0.000000,1.0,0.0,0.257212,0.280905
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.777778,0.166667,0.428571,0.111111,1.0,0.0,0.399838,0.468085

In [25]:
df = pd.read_csv("../raw/ENB2012_data.csv")
y1_mean = df.Y1.mean()
y2_mean = df.Y2.mean()
# print(y1_mean, y2_mean)
# low loading -> high energy efficiency, high loading -> high energy efficiency
df['Y1'] = df['Y1'].apply(lambda x: 'high' if x <= y1_mean else 'low')
df['Y2'] = df['Y2'].apply(lambda x: 'high' if x <= y2_mean else 'low')
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8    Y1    Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  high  high
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  high  high
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  high  high
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  high  high
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  high   low

In [26]:
cat_ftrs = ['X6','X8']
num_ftrs = ['X1','X2','X3','X4','X5','X7']
label_ftrs = ['Y1', 'Y2']

# one-hot encoder 
ohe = OneHotEncoder(sparse=False)
cat_values = ohe.fit_transform(df[cat_ftrs])
cat_ftr_names = ohe.get_feature_names()
df_cat = pd.DataFrame(data=cat_values,columns = cat_ftr_names)

# minmax scaler
minmax = MinMaxScaler()
num_values = minmax.fit_transform(df[num_ftrs])
df_num = pd.DataFrame(data=num_values,columns = num_ftrs) 

# label encoder
le = LabelEncoder()
label_value_heat = le.fit_transform(df['Y1'])
label_value_cool = le.fit_transform(df['Y2'])
df_label_heat = pd.DataFrame(data=label_value_heat, columns=['Y1'])
df_label_cool = pd.DataFrame(data=label_value_cool, columns=['Y2'])

# concatenation of all features
df_preprocessed = pd.concat([df_cat, df_num, df_label_heat, df_label_cool], axis=1)
df_preprocessed.to_csv("classification.csv")
df_preprocessed.head()

,x0_2.0,x0_3.0,x0_4.0,x0_5.0,x1_0.0,x1_1.0,x1_2.0,x1_3.0,x1_4.0,x1_5.0,X1,X2,X3,X4,X5,X7,Y1,Y2
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.285714,0.000000,1.0,0.0,0,0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.285714,0.000000,1.0,0.0,0,0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.285714,0.000000,1.0,0.0,0,0
3,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.000000,0.285714,0.000000,1.0,0.0,0,0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.777778,0.166667,0.428571,0.111111,1.0,0.0,0,1